<main class="index " >
    <header class="masthead d-flex" scroll="no">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Aerolineas Guacamaya</h1>
            <h3 class="mb-5">
                <em>Compra tu pasaje ya!</em>
            </h3>
            <a class="btn btn-outline-light btn-lg" href="/signin">
                Ingresa aqui
            </a>
        </div>
    </header>
</main>