<div class="container p-4">
    <div>
        <div class="row">
             <div class="col-md-4 mx-auto">
                  <div class="card ">
                      <div class="card-body">
                          <form action="/links/add" method="POST">
                              <div class="form-group">
                                  <input type="text" class="form-control" name="nombre_avion_modelo" placeholder="Nombre Avion Modelo" autofocus>
                              </div>
                              <div class="form-group">
                                 <input type= "text" name="velocidad_maxima" class="form-control" placeholder="Velocidad Maxima">
                              </div>
                              <div class="form-group">
                                  <input type="text" class="form-control" name="velocidad_crucero" placeholder="Velocidad crucero">
                              </div>
                              <div class="form-group">
                                  <input type= "text" name="peso_vacion" class="form-control" placeholder="Peso Vacio">
                              </div>
                              <div class="form-group">
                              <input type= "text" name="peso_maximo" class="form-control" placeholder="Peso Maximo">
                              </div>
                              <div class="form-group">
                                  <input type="text" class="form-control" name="carga_maxima_cabina" placeholder="Carga Maxima Cabina" >
                              </div>
                              <div class="form-group">
                                  <input type= "text" name="carga_maxima_equipaje" class="form-control" placeholder="Carga Maxima Equipaje">
                              </div>
                              <div class="form-group">
                              <input type= "text" name="salida_emergencia" class="form-control" placeholder="Salidas de emergencia">
                              </div>
                              <div class="form-group">
                                  <input type="text" class="form-control" name="distancia_despegue_con_carga_maxima" placeholder="Distancia despegue con carga maxima" >
                              </div>
                              <div class="form-group">
                                  <input type= "text" name="tripulacion" class="form-control" placeholder="Tripulacion">
                              </div>
                              <div class="form-group">
                              <input type= "text" name="bano" class="form-control" placeholder="banos">
                              </div>
                              <div class="form-group">
                                  <input type= "text" name="capacidad_combustible" class="form-control" placeholder="Capacidad Combustible">
                              </div>
                              <div class="form-group">
                                  <input type= "text" name="nombre_tipo_combustible" class="form-control" placeholder="Nombre Tipo de Combustible">
                              </div>
                              <div class="form-group">
                                  <input type= "text" name="nombre_fabricante" class="form-control" placeholder="Nombre Fabricante">
                              </div>
                                  <button class="btn btn-success btn-block">
                                      SAVE
                                  </button>
                               
                          </form>
                      </div>
                 </div>
            </div>
        </div>
    </div>
</div>
