<div class="container p-4">
    <div>
        <div class="row">
             <div class="col-md-4 mx-auto">
                  <div class="card ">
                      <div class="card-body"> <h3>{{link.nombre_fabricante}} <span class="badge badge-secondary">Nombre actual</span></h3> 
                          <form action="/links/edit-fabricantes/{{link.id_fabricante}}" method="POST">
                              <div class="form-group">
                                  <input type="text" value="{{link.nombre_fabricante}}" class="form-control" name="nombre_fabricante" placeholder="Nombre Fabricante" autofocus>
                              </div>
                            <button class="btn btn-success btn-block">
                                SAVE
                            </button>
                          </form>
                      </div>
                 </div>
            </div>
        </div>
    </div>
</div>