<div class="container p-4">
    <div>
        <div class="row">
           <div class="col-md-4 mx-auto" > 
                  <div class="card "> 
                      <div class="card-body"> <h3> Agregar factura</h3>
                          <form action="/links/add-factura" method="POST">
                              <div class="form-group">
                                  Cliente
                                  <select type= "text" name="nombre" class="form-control" placeholder="Cliente">
                                      {{#each clientes}}
                                        <option>{{nombre}}</option>
                                      {{/each}}
                                  </select>
                              </div>
                              <div class="form-group">
                                 <input type= "text" name="numero_factura" class="form-control" placeholder="Numero de Factura">
                              </div>
                              
                              <div class="form-group">
                                  <input type="number" class="form-control" name="monto" placeholder="Monto de Factura">
                              </div>
                              <div class="form-group">
                              <select type= "number" name="impuesto" class="form-control" placeholder="Impuesto">
                                {{#each impuesto}}
                                        <option>{{impuesto}}</option>
                                      {{/each}}
                                  </select>
                              </div>
                              <div class="form-group">
                                  Boleto del pasajero
                                  <select type= "text" name="id_boleto" class="form-control" placeholder="Boleto">
                                      {{#each id_boleto}}
                                        <option>{{id_boleto}}</option>
                                      {{/each}}
                                  </select>
                              </div>
                              
                                  <button class="btn btn-success btn-block">
                                      SAVE
                                  </button>
                               
                          </form>
                      </div>
                 </div>
            </div>
           
        </div>
    </div>
</div>
