<div class="container p-4">
    <div>
        <div class="row">
             <div class="col-md-4 mx-auto">
                  <div class="card ">
                   
                      <div class="card-body"> {{id_vuelo_fecha}} <h3>Precio</h3> 
                          <form action="/links/edit-price/{{link.id_vuelo_fecha}}" method="POST">
                              <div class="form-group"> Primera Clase
                                  <input type="number"  class="form-control" name="precio1"  autofocus>
                              </div>
                              <div class="form-group"> Economia
                                  <input type="number"  class="form-control" name="precio2"  >
                              </div>
                            <button class="btn btn-success btn-block">
                                SAVE
                            </button>
                          </form>
                      </div>
                      
                 </div>
            </div>
        </div>
    </div>
</div>